.wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.upper {
  display: flex;
  justify-content: space-between;
}

.central {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}